.login__container {
    /* background-color: black; */
    background-color: #282c34;

    caret-color: transparent;
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.login__container::-webkit-scrollbar {
    width: 5px;
}

.login__container::-webkit-scrollbar-track {
    background: black;
    /* color of the tracking area */
}

.login__container::-webkit-scrollbar-thumb {
    background-color: grey;
    /* color of the scroll thumb */

    border-radius: 20px;
    /* roundness of the scroll thumb */
    /*border: 2px solid black; /* creates padding around scroll thumb */
}

.login__custom_textarea {
    position: relative;
    width: 100%;
    caret-color: transparent;
    margin: 10px 0;
    outline: none;
}

.login__content_line {
    position: relative;
    margin: 10px 0;
}

.login__content_line_char {
    /* background: purple; */
    display: inline-block;
    text-align: center;
    line-height: 1.2rem;
    width: 0.625rem;
    /* width: 1rem; */
}

.login__content_line_char.focus {
    /* position: absolute; */
    background-color: white;
    right: -0.5rem;
    color: black;
    /* height:1.315rem; */
    top: -2px;
}

.login__content_line_char.focus.blinking {
    background-color: white;
    color: black;
    animation: blinkingAnimation 0.9s linear infinite;
}


.login__custom_caret {
    position: relative;
    display: inline-block;
    color: white;
    background-color: white;
    font-weight: bolder;
}

.caret_type_line {
    font-size: 1rem;
    background-color: transparent;
}

.caret_type_box {
    position: absolute;
    display: inline-block;
    width: 0.625rem;
    height: 1.2rem
}

.caret_type_box.caret_blinking {
    animation: boxBlinkingAnimation 0.9s linear infinite;
}

.caret_type_line.caret_blinking {
    animation: lineBlinkingAnimation 0.9s linear infinite;
}

input.login__hidden_input {
    position: relative;
    width: 1rem;
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
    color: transparent;
    z-index: -1;
}

@keyframes boxBlinkingAnimation {
    0% {
        /* opacity: 1; */
        background-color: white;
        color: transparent
    }

    49% {
        background-color: white;
        color: transparent
            /* opacity: 1; */
    }

    51% {
        background-color: transparent;
        color: white
            /* opacity: 0; */
    }

    100% {
        background-color: transparent;
        color: white
            /* opacity: 0; */
    }
}

@keyframes lineBlinkingAnimation {
    0% {
        /* opacity: 1; */
        color: transparent
    }

    49% {
        color: transparent
            /* opacity: 1; */
    }

    51% {
        color: white
            /* opacity: 0; */
    }

    100% {
        color: white
            /* opacity: 0; */
    }
}