* {
  box-sizing: border-box;
  text-align: start;
}

.wallet {
  text-align: center;
  cursor: default;
  caret-color: transparent;
}

.wallet-main {
  background-color: #282c34;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wallet-form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 10px;
  overflow: hidden;
}

.wallet-input {
  background-color: black;
  border: 1px solid white;
  color: white;
  outline: none;
  font-size: 1.3rem;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  caret-color: white;
  width: 40vw;
  min-width: 150px;
  max-width: 350px;
}

.wallet-btn {
  background-color: black;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 10px;
  padding: 0 5px;
  transition: all ease 0.2s;
  outline: none;
}

.wallet-btn:hover {
  background-color: white;
  color: black;
}

.inline {
  display: inline;
}

.wallet-hover-info {
  position: absolute;
  background: black;
  border: 1px solid white;
  bottom: 10px;
  box-sizing: border-box;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  min-width: 320px;
  padding: 10px;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.wallet-form_container {
  animation: enterApp linear 0.5s 1;
}

.wallet-app_container {
  width: 100vw;
  height: 100%;
  padding: 0 10px;
  display: grid;
  gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.wallet-app_container_form_showed {
  animation: moveDownContent ease-out 1s 1;
}

.wallet-app_container_form_hidden {
  animation: moveUpContent ease-out 1s 1;
}

.wallet-app_container::-webkit-scrollbar {
  width: 5px;
}

.wallet-app_container::-webkit-scrollbar-track {
  background: black;
  /* color of the tracking area */
}

.wallet-app_container::-webkit-scrollbar-thumb {
  background-color: white;
  /* color of the scroll thumb */

  border-radius: 20px;
  /* roundness of the scroll thumb */
  /*border: 2px solid black; /* creates padding around scroll thumb */
}

.wallet-app {
  position: relative;
  background-color: white;
  border: 2px solid white;
  color: black;
  caret-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 8px;
  text-align: center;
}

.wallet-app-input {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  caret-color: black;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.6rem;
  border-radius: 8px;
  z-index: 100;
}
.wallet-app__background-input-act {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.8;
  z-index: 10;
  cursor: auto;
  animation: bkgOpacity ease 0.6s 1;
}

.wallet-app_inp {
  animation: zoom ease-in-out 0.1s 1;
  margin-bottom: 20px;
}

.wallet-app.wallet-app_opacity {
  transition: opacity 0.3s ease;
  opacity: 0.3;
}

.wallet-app:not(.wallet-app_opacity) {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.wallet-app-input::placeholder {
  color: gray;
  font-weight: 100;
}

.wallet-app.wallet-app__init {
  animation: enterApp 0.5s ease-in-out;
}

.wallet-app.wallet-app_show_pass {
  background-color: black;
  color: white;
  animation: revealPass 0.5s linear;
}

.wallet-app.wallet-app_hide_pass {
  animation: hidePass 0.5s linear 1;
}

.wallet-app.wallet-app_deleting {
  background-color: rgb(240, 240, 240);
  opacity: 0.6;
  animation: deletingAnimation linear 0.3s infinite;
}

.wallet-app.wallet-app_deleting .wallet-app_deleting_btn {
  position: absolute;
  top: -0.35rem;
  right: -0.35rem;
  color: black;
  font-size: 0.5rem;
  line-height: 0.3rem;
  font-weight: bold;
  padding: 0.15rem;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.8);
  border: 1px solid black;
  border-radius: 50%;
  z-index: 100;
}

.wallet-app_check {
  background-color: transparent;
  position: absolute;
  right: 4px;
  width: 20px;
  height: 10px;
  border-bottom: 4px solid white;
  border-left: 4px solid;
  transform: rotatez(-45deg);
  animation: enterCheck 0.5s 1;
}

@keyframes enterCheck {
  from {
    opacity: 0;
    transform: rotateZ(45deg);
  }
}

@keyframes deletingAnimation {
  0% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  0% {
    transform: translateX(0px);
  }
}

@keyframes zoom {
  from {
    transform: scale(0.9, 0.9);
  }
}

@keyframes enterApp {
  0% {
    border: 2px solid transparent;
    color: transparent;
    opacity: 0;
    transform: scale(0.1, 0.1);
  }
}

@keyframes revealPass {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
    color: transparent;
    background-color: white;
  }

  49% {
    background-color: white;
  }

  51% {
    background-color: black;
    transform: rotate3d(0, 100, 0, 90deg);
    color: white;
  }

  100% {
    transform: rotate3d(0, 0, 0, 0deg);
    color: white;
    background-color: black;
  }
}

@keyframes hidePass {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
    color: transparent;
    background-color: black;
  }

  49% {
    background-color: black;
    transform: rotate3d(0, 100, 0, 90deg);
  }

  51% {
    background-color: white;
    color: black;
  }

  100% {
    transform: rotate3d(0, 0, 0, 0deg);
    color: black;
    background-color: white;
  }
}

@keyframes moveDownContent {
  from {
    opacity: 0.9;
    transform-origin: 1000% 0%;
    transform: rotate(1deg);
  }
}

@keyframes moveUpContent {
  from {
    opacity: 0.9;
    transform-origin: 1000% 0%;
    transform: rotate(-1deg);
  }
}
@keyframes bkgOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
